.root {
    -fx-primary: #990D35;
    -fx-secondary: #1C7C54;
    -fx-accent: #FF7043;
    -fx-dark: #000501;
    -fx-light: #EFF2F1;
    -fx-background-color: #f5f5f5;
}

.top-content{
    -fx-padding: 20;
}

.title-D{
    -fx-font-weight: bold;
    -fx-font-size: 32px;
    -fx-text-fill: -fx-dark;
}
.title-card, .total-card{
    -fx-font-weight: bold;
    -fx-font-size: 24px;
}

.title-card {
    -fx-text-fill: -fx-dark;
}

.total-card {
    -fx-text-fill: -fx-primary;
}

.card-sale{
    -fx-background-color: #fff;
    -fx-pref-width: 260px;
    -fx-pref-height: 110px;
    -fx-background-radius: 8;
    -fx-padding: 20;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.05), 10, 0.5, 4, 4);
}

.title-card-view{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.05), 10, 0.5, 4, 4);
}

.close-button-d {
    -fx-background-color: -fx-primary;
    -fx-text-fill: white;
    -fx-font-size: 3px;
    -fx-padding: 0px;
}

.close-button-d:hover, .edit-button-d:hover {
    -fx-cursor: hand;
}